@model IEnumerable<ASP.Exo.HelpersData.Areas.Admin.Data.AspUserRight>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDefault)
        </th>
    </tr>

@foreach (var item in Model) {
    @Html.Partial("_UserRightListItem",item)
}

</table>
